#leftSide .widget{
    position: relative;
}

#leftSide .wpcf7{
    width: 95%;
    max-width: 500px;
    margin: 30px auto 0 auto;
    position: relative;
    font-family: SanFrancisco-Thin;
    color: rgb(111,111,111);
}

#leftSide .wpcf7 label, #leftSide .wpcf7 input, #leftSide .wpcf7 textarea{
    width: 100% !important;
    margin: 0;
    border: none;
    max-width: 500px;
}

#leftSide .wpcf7 label{
    text-transform: uppercase;
    font-size: 20px;
}

#leftSide .wpcf7 input, #leftSide .wpcf7 textarea{
    padding: 15px;
    font-size: 17px;
    margin: 5px 0 5px 0;
}

#leftSide .wpcf7 .wpcf7-submit{
    background: rgba(0,0,0,0.05);
    text-transform: uppercase;
    font-size: 20px;
    font-family: SanFrancisco-Regular;
}

#leftSide .wpcf7 input:hover, #leftSide .wpcf7 textarea:hover, #leftSide .wpcf7 input:focus, #leftSide .wpcf7 textarea:focus{
    outline-width: 1px;
    outline-style: solid;
    outline-color: rgba(0,0,0,0.04);
    box-shadow: rgba(0,0,0,0.04) 0 0 5px 3px;
}
#leftSide .wpcf7 .wpcf7-validation-errors {
    width: 100%;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
    font-family: SanFrancisco-Regular;
}

