/* ------- NAVBAR ------- */
#topBar{
    position: fixed;
    background: black;
    height: 50px;
    z-index: 100;
    width: 100%;
    max-width: 1920px;
}
/* ------- /NAVBAR ------- */

#menuBtn {
    position: absolute;
    height: 100%;
    width: 60px;
    z-index: 5;
    font-size: 30px;
    color: rgba(255, 255, 255, .9);
    background: transparent;
    border: none;
    box-shadow: none;
}

#menuBtn:focus{
    outline: none;
}

#menuPanel{
    position: absolute;
    top: 0;
    left: -3px;
    height: 110vh;
    background: white;
    transition: .3s ease;
    box-shadow: rgba(0,0,0,.5) 5px 0 15px;
    z-index: 4;
    overflow-y: auto;
    overflow-x: hidden !important;
    font-family: SanFrancisco-Thin;
    width: 0px;
}

.menuPanel.open{
    width: 300px !important;
}

#menuClose{
    position: absolute;
    background: rgba(0,0,0,.4);
    width: 100vw;
    max-width: 1920px;
    height: 100vh;
    z-index: 3;
    display: none;
}
#menuPanel ul{
    list-style: none;
    margin: 0;
    padding: 60px 0;
    transition: .3s;
}

#menuPanel ul li{
    text-align: center;
    padding: 0;
    font-size: 25px;
    text-transform: uppercase;
    opacity: 0;
    position: relative;
}

#menuPanel ul li a{
    display: block;
    padding: 10px 0;
    color: rgb(133,133,133);
    cursor: pointer;
}

#menuPanel ul li a:hover{
    text-decoration: none;
    /*background: rgb(243,243,243);*/
    background: rgba(0,0,0,.05);
}

.animate{
    transition: 0.5s;
    opacity: 1 !important;
}

#menuPanel ul li:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

#menuPanel ul li:nth-child(3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

#menuPanel ul li:nth-child(4) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

#menuPanel ul li:nth-child(5) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

#menuPanel ul li:nth-child(6) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

#menuPanel ul li:nth-child(7) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.6s;
}

#menuPanel ul li:nth-child(8) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.7s;
}

.animateReset{
    transition: 0s !important;
    -webkit-transition-delay: 0s !important;
    transition-delay: 0s !important;
}


#menuPanel ul li ul{
    overflow: hidden;
    padding: 0 0;
    transition: .3s ease;
    max-height: 0px;
    background: rgba(0,0,0,.03);
    box-shadow: inset rgba(0,0,0,.05) 0 0 5px 5px;
}

#menuPanel ul li ul.open{
    max-height: 200px;
}

#logo{
    position: absolute;
    height: 50px;
    width: 150px;
    left: 0;
    right: 0;
    margin: auto;
}

/*#logo p{*/
    /*color: white;*/
    /*font-size: 30px;*/
    /*font-weight: bold;*/
    /*font-style: italic;*/
    /*float: left;*/
    /*line-height: 50px;*/
/*}*/

#logo img{
    position: relative;
    width: 150px;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
    /*float: right;*/
}