/* ------- SLIDER ------- */
#slider{
    position: relative;
    height: 50vw;
    max-height: 550px;
    width: 100%;
    overflow: hidden;
}

.sliderImage{
    height: 50vw;
    max-height: 550px;
    width: 100%;
}

.sliderImage img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.sliderControl{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 7vw;
    opacity: 0;
}

.sliderText{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    color: white;
    text-transform: uppercase;
    overflow: hidden;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
    font-family: SanFrancisco-Thin;
    padding: 30px 10%;
}

.sliderText h1{
    padding: 0;
    margin: 0;
}

.sliderText h3{
    padding-top: 5px;
    margin: 0;
}

#rightControl{
    right: 0;
}

#leftControl{
    left: 0;
}

.sliderControl .sliderButton{
    position: absolute;
    background: rgba(0,0,0,0.3);
    top:0;
    bottom: 0;
    left:0;
    right: 0;
    width: 5vw;
    height: 5vw;
    margin: auto;
    line-height: 5vw;
    font-size: 2vw;
    text-align: center;
    color: rgba(255,255,255, .4);
    transition: 0.4s;
    border-radius: 45px;
}

.sliderControl .sliderButton:hover, #btnShowMenu:hover{
    color: rgba(255,255,255, .8);
}
/* ------- /SLIDER ------- */