/*Responsive Styles*/
@media screen and (max-width:639px) {
    .tileArticleFloat{
        width: 96%;
    }

    #leftSide{
        width: 100%;
    }



    #rightSideBar{
        float: right;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 1.7%;
    }

    #rightSideBar .widget{
        padding: 0 0 20px 0;
        position: relative;
        float: none;
        width: 90%;
        margin: 0 auto 20px auto;
        border-image:
                linear-gradient(to left, rgba(0,0,0,0.05) 1%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.05) 100%) 100% 0 100% 0/0 0 1px 0 stretch !important;
    }

    .footerComponent{
        float: left;
        width: 50%;
        position: relative;
        padding: 2% 4% 2% 4%;
        margin: 0;
        border-right: 1px white solid;
        color: white;
        font-family: SanFrancisco-Thin;
        border-image:
                linear-gradient(to bottom, rgba(255,255,255,0.0) 3%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0.0) 97%) 0 100% 0 100%/0 0 0 1px stretch;
    }

    #slider{
        display: none;
    }

    #singleContent{
        padding: 10px;
    }

    .tileTitleArticle h3{
        font-size: 25px;
        padding: 10px;
    }

    #singleTitleArticle {
        padding: 10px 10%;
    }
}
@media screen and (min-width:640px) and (max-width:767px) {
    .tileArticleFloat{
        width: 96%;
    }

    #leftSide{
        width: 100%;
        padding-right: 0;
    }

    #rightSideBar{
        float: right;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 1.7%;
    }

    #rightSideBar .widget{
        padding: 0 0 20px 0;
        position: relative;
        float: none;
        width: 500px;
        margin: 0 auto 20px auto;
        border-image:
                linear-gradient(to left, rgba(0,0,0,0.05) 1%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.05) 100%) 100% 0 100% 0/0 0 1px 0 stretch !important;
    }

        .footerComponent{
        float: left;
        width: 50%;
        position: relative;
        padding: 2% 4% 2% 4%;
        margin: 0;
        border-right: 1px white solid;
        color: white;
        font-family: SanFrancisco-Thin;
        border-image:
                linear-gradient(to bottom, rgba(255,255,255,0.0) 3%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0.0) 97%) 0 100% 0 100%/0 0 0 1px stretch;
    }

    #slider{
        display: block;
    }

    #singleContent{
        padding: 15px;
    }

    .tileTitleArticle h3{
        font-size: 35px;
        padding: 30px;
    }

    #singleTitleArticle {
        padding: 30px 10%;
    }
}
@media screen and (min-width:768px) and (max-width:1023px) {
    .tileArticleFloat{
        width: 48%;
    }

    #leftSide{
    width: 100%;
        padding-right: 1.8%;
    }

    #rightSideBar{
        float: right;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 1.7%;
    }

    #rightSideBar .widget{
        padding: 0;
        position: relative;
        float: none;
        width: 500px;
        margin: auto;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-image:
                linear-gradient(to left, rgba(0,0,0,0.05) 1%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.05) 100%) 100% 0 100% 0/0 0 1px 0 stretch !important;
    }

    .footerComponent{
        float: left;
        width: 50%;
        position: relative;
        padding: 2% 4% 2% 4%;
        margin: 0;
        border-right: 1px white solid;
        color: white;
        font-family: SanFrancisco-Thin;
        border-image:
                linear-gradient(to bottom, rgba(255,255,255,0.0) 3%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0.0) 97%) 0 100% 0 100%/0 0 0 1px stretch;
    }

    #slider{
        display: block;
    }

    #singleContent{
        padding: 20px;
    }

    .tileTitleArticle h3{
        font-size: 25px;
        padding: 10px;
    }

    #singleTitleArticle {
        padding: 30px 10%;
    }
}
@media screen and (min-width:1023px) and (max-width: 1200px){
    .tileArticleFloat{
        width: 48%;
    }

    #leftSide{
        width: 100%;
        padding-right: 1.8%;
    }

    #rightSideBar{
        float: right;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 1.7%;
    }

    #rightSideBar .widget{
        float: left;
        position: relative;
        min-height: 400px;
        width: 33.33%;
        padding: 0 3% 0 3%;
    }

    .footerComponent{
        float: left;
        width: 50%;
        position: relative;
        padding: 2% 4% 2% 4%;
        margin: 0;
        border-right: 1px white solid;
        color: white;
        font-family: SanFrancisco-Thin;
        border-image:
        linear-gradient(to bottom, rgba(255,255,255,0.0) 3%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0.0) 97%) 0 100% 0 100%/0 0 0 1px stretch;
    }

    #slider{
        display: block;
    }

    #singleContent{
        padding: 25px;
    }

    .tileTitleArticle h3{
        font-size: 30px;
        padding: 30px;
    }

    #singleTitleArticle {
        padding: 30px 10%;
    }
}

@media screen and (min-width:1201px) {
    .tileArticleFloat{
        width: 48%;
    }

    #leftSide{
        width: 75%;
        padding-right: 1.8%;
    }

    #rightSideBar{
        float: right;
        width: 25%;
        text-align: center;
        text-transform: uppercase;
        padding-left: 1%;
        padding-right: 1%;
        padding-top: 1.7%;
    }

    #rightSideBar .widget{
        padding: 0 0 20px 0;
        position: relative;
        float: none;
        width: auto;
        margin-bottom: 20px;
        border-image:
            linear-gradient(to left, rgba(0,0,0,0.05) 1%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.05) 100%) 100% 0 100% 0/0 0 1px 0 stretch !important;
            webkit-linear-gradient(to left, rgba(0,0,0,0.05) 1%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.05) 100%) 100% 0 100% 0/0 0 1px 0 stretch !important;
            moz-linear-gradient(to left, rgba(0,0,0,0.05) 1%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.05) 100%) 100% 0 100% 0/0 0 1px 0 stretch !important;
            o-linear-gradient(to left, rgba(0,0,0,0.05) 1%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.05) 100%) 100% 0 100% 0/0 0 1px 0 stretch !important;

    }

    .footerComponent{
        float: left;
        width: 50%;
        position: relative;
        padding: 2% 4% 2% 4%;
        margin: 0;
        border-right: 1px white solid;
        color: white;
        font-family: SanFrancisco-Thin;
        border-image:
                linear-gradient(to bottom, rgba(255,255,255,0.0) 3%, rgba(255,255,255,0.7) 50%, rgba(255,255,255,0.0) 97%) 0 100% 0 100%/0 0 0 1px stretch;
    }

    #slider{
        display: block;
    }

    #singleContent{
        padding: 30px;
    }

    .tileTitleArticle h3{
        font-size: 30px;
        padding: 30px;
    }

    #singleTitleArticle {
        padding: 30px 10%;
    }
}