#singleImageArticle{
    position: relative;
    height: 50vw;
    max-height: 550px;
    width: 100%;
    overflow: hidden;
}

#singleImageArticle img{
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
    margin: auto;
    width: 100%;
    height: auto;
}

#singleTitleArticle{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    text-transform: uppercase;
    overflow: hidden;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 50%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
    font-family: SanFrancisco-Thin;
    /*padding: 30px 30px;*/
    text-align: center;
}

#singleContent{
    font-size: 17px;
}

#singleTitleArticle h1{
    padding: 0;
    margin: 0;
}

#singleTextArticle{
    text-align: justify;
    padding-bottom: 20px;
}

#comments{
    padding-top: 20px;
}

#disqus_thread {
    overflow: hidden;
}

#disqus_thread iframe {
    margin-bottom: -56px;
}

#post-nav{
    margin: 30px 0;
    padding: 15px 0;
    text-transform: uppercase;
    border-image:
            linear-gradient(to left, rgba(0,0,0,0.05) 1%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.05) 100%) 100% 0 100% 0/1px 0 1px 0 stretch;

}

.controlArticle{
    width: 40%;
}

.controlArticle a{
    display: block;
    color: rgb(133,133,133);
    transition: 0.2s;
}

.controlArticle a:hover{
    color: rgb(200,0,34);
    text-decoration: none;
}

.controlArticle a h3{
    padding: 0;
    margin: 0 0 10px 0;
}

#post-previous{
    float: left;
}

#post-next{
    float: right;
    text-align: right;
}

#article-info a{
    color: black;
}

#article-info a:hover{
    color: rgb(200,0,34);
    text-decoration: none;
}