.archive-button,
.value-list {
    right: 0;
    left: 0;
    width: 100%;
    height: 50px;
    font-size: 15px;
    border: none;
    text-transform: uppercase;
    font-family: SanFrancisco-Regular;
}

/*okienko pierwsze*/
.archive-button {
    background: rgba(0,0,0,0.04);
    transition: 0.3s;
    color: rgb(133,133,133);
}

.archive-button:hover {
    background: rgba(0,0,0,0.1);
}

.archive-button:focus, .archive-button.open {
    outline: 0;
}

.value-list {
    overflow: hidden;
    left:0;
    right:0;
    margin: auto;
    height: 0;
    transition: .3s;
    list-style: none;
    padding: 0;
    position: absolute;
    z-index: 10;
    background: white;
}
.value-list.open {
    height: 150px;
    overflow: auto;
    box-shadow: rgba(0,0,0,0.3) 0 2px 5px;
}

.value-list li {
    background: rgba(255,255,255,0.15);
    transition: background-color .3s;
    opacity: 1;
}

.value-list li a {
    display: block;
    color: rgb(133,133,133);
    padding: 7px 0 7px 0px;
}

.value-list li a:hover {
    background: rgb(205,0,27);
    color: white;
}
