.recommendedArticle{
    width: 100%;
    position: relative;
    filter: grayscale(100%);
    opacity: 0.5;
    transition: 0.3s;
    margin-bottom: 15px;
}

.recommendedArticle:hover{
    filter: grayscale(0%);
    opacity: 1;
}

.recommendedArticle a, .recommendedArticle a:hover{
    text-decoration: none;
    color: rgb(51,51,51);
}

.recommendedArticle-image{
    width: 100%;
    height: 100%;
}

#recommendedArticle-title{
    position: absolute;
    bottom: 10%;
    padding: 0 10px;
    background: rgba(255,255,255,0.5);
    width: 100%;
    text-align: center;
    font-size: 1.2vw;
    font-weight: bold;
}

.recommendedArticle-date{
    position: absolute;
    padding: 0.4vw 0.7vw;
    font-size: 1vw;
    background: rgba(255,255,255,0.7);
    font-weight: 500;
}

