/*
Theme Name: Blog2.0
Theme URI: http://f1team.pl
Author: Piotr
Author URI:
Description: Styl stworzony dla strony F1team.pl
Version: 0.1
License:
License URI:
Tags: black, brown, orange, tan, white, yellow, light, one-column, two-columns, right-sidebar, flexible-width, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, translation-ready
Text Domain: Blog2.0

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@import url("css/normalize.css");
@import url("css/myslider.css");
@import url("css/mymenu.css");
@import url("css/responsive.css");
@import url("css/single.css");
@import url("css/contact.css");

@font-face {
    font-family: 'SanFrancisco-Regular';
    src: url("fonts/System San Francisco Display Regular.ttf");
}


@font-face {
    font-family: 'SanFrancisco-Bold';
    src: url("fonts/System San Francisco Display Bold.ttf");
}

@font-face {
    font-family: 'SanFrancisco-Thin';
    src: url("fonts/System San Francisco Display Thin.ttf");
}

@font-face {
    font-family: 'SanFrancisco-Ultralight';
    src: url("fonts/System San Francisco Display Ultralight.ttf");
}

html, body, #page, #content{
    font-family: SanFrancisco-Regular;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden !important;
    font-family: SanFrancisco-Regular;
}

body{
    background: white;
}

#page{
    background: white;
    max-width: 1920px;
    margin: auto;
}

#content{
    /*position: relative;*/
    background: white;
    width: 100%;
    max-width: 1920px;
    overflow: hidden;
}

#mediaField{
    position: relative;
    max-height: 550px;
    width: 100%;
    height: auto;
    max-width: 1920px;
    overflow: hidden;
    margin-top: 50px;
}

#leftSide{
    float: left;
    background: rgba(0,0,0,0.05);
    padding-bottom: 2%;
}


.widget h4{
    margin: 0 0 10px 0;
    padding: 0;
    font-family: SanFrancisco-Thin;
    font-size: 25px;
    color: rgb(133,133,133);
}

.widget a{
    text-decoration: none;
    transition: 0.3s;
    color: rgb(133,133,133);
}

.widget a:hover{
    text-decoration: none;
    color: rgb(205,0,27);
}

.widget #search-textfield{
    height: 50px;
    font-size: 20px;
    color: rgb(133,133,133);
    border: none;
    box-shadow: none;
    text-align: center;
    font-family: SanFrancisco-Thin;
    border-radius: 0;
    margin: 0;
    padding: 0;
    width: 80%;
    background: rgba(0,0,0,0.04);
    float: left;

}

.widget #search-textfield:focus, .widget #search-textfield:hover{
    outline-width: 1px;
    outline-style: solid;
    outline-color: rgba(0,0,0,0.04);
    box-shadow: rgba(0,0,0,0.04) 0 0 5px 3px;
}

.widget #search-btn{
    position: relative;
    width: 20%;
    text-transform: uppercase;
    color: rgb(133,133,133);
    background: rgba(0,0,0,0.04);
    border: none;
    height: 50px;
    font-size: 15px;
    float: right;
}

.tileArticleFloat{
    float: left;
    /*background: deepskyblue;*/
    height: auto;
    margin-left: 2%;
    margin-top: 2%;
    overflow: hidden;
    display: block;
    border-image:
            /*linear-gradient(to bottom, rgba(0,0,0,0.0) 1%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.0) 100%) 0 100% 0 100%/0 1px 0 1px stretch;*/
            linear-gradient(to left, rgba(0,0,0,0.05) 1%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.05) 100%) 100% 0 100% 0/0 0 1px 0 stretch;
}

.tileArticle{
    position: relative;
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
}

.tileImageArticle{
    position: relative;
    width: 100%;
    /*min-height: 250px;*/
    max-height: 400px;
    overflow: hidden;
}


.tileImageArticle img{
    transition: 0.2s ease-in-out;
    position: absolute;
    top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
    margin: auto;
    width: 100%;
    height: auto;
}


.tileArticleFloat a, .tileArticleFloat a:hover{
    color: rgba(0,0,0,.7);
    text-decoration: none;
}

.tileTitleArticle h3{
    /*font-size: 30px;*/
    position: absolute;
    bottom: 0;
    /*padding: 30px;*/
    color: whitesmoke;
    text-align: center;
    width: 80%;
    right: 0;
    left: 0;
    margin: auto;
    /*text-shadow: 2px 2px 4px #000; !* horizontal-offset vertical-offset 'blur' colour *!*/
    /*-moz-text-shadow: 2px 2px 4px #000;*/
    /*-webkit-text-shadow: 2px 2px 4px #000;*/
    font-family: SanFrancisco-Thin;
}

.tileTitleArticle{
    position: absolute;
    padding: 10px 5px 10px 5px;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.4) 60%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 60%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.4) 60%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#b3000000',GradientType=0 ); /* IE6-9 */    bottom: 0;
    width: 100%;
    height: 100%;
}

.tileTextArticle{
    position: relative;
    padding: 5px 0;
    text-align: justify;
    text-justify: inter-word;
    -ms-word-break: break-all;
    word-break: break-all;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    font-size: 17px;
    font-family: SanFrancisco-Regular;
}

.tileCommentsArticle {
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.tileDateArticle {
    background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.65) 5%, rgba(0,0,0,0) 67%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 5%,rgba(0,0,0,0) 67%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.65) 5%,rgba(0,0,0,0) 67%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */    color: white;
    padding: 5px 120px 5px 5px;
    position: absolute;
    top: 0;
    left: 0;
    font-family: SanFrancisco-Thin;
    text-transform: uppercase;
    /*text-shadow: 1px 1px 0px #000; !* horizontal-offset vertical-offset 'blur' colour *!*/
    /*-moz-text-shadow: 2px 2px 4px #000;*/
    /*-webkit-text-shadow: 2px 2px 4px #000;*/
}

#footer{
    width: 100%;
    background: rgba(0,0,0,.6);
    display: flex;
    padding: 0;
    margin: 0;
}

#footerLogo h4{
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

#footerCookies h4{
    font-family: SanFrancisco-Thin;
    text-transform: uppercase;
    font-size: 25px;
    margin: 0 0 5px 0;
    padding: 0;
    text-align: center;
}

#footerCookies p{
    margin: 0;
    padding: 0;
    text-align: justify;
    font-size: 15px;
}

#content:after, #leftSide:after, #rightSideBar:after, #footer:after, .widget:after, #post-nav:after{
    content: '';
    clear: both;
    display: block;
}

#catapult-cookie-bar{
    width: 100%;
    padding: 10px 0;
}
#catapult-cookie-bar .ctcc-left-side{
    float: left;
    width: 100%;
    text-align: center;
    color: white;
    padding: 0 0 10px 0;
    font-family: SanFrancisco-Thin;
    font-size: 20px;

}
#catapult-cookie-bar .ctcc-right-side #catapultCookie{
    float: left;
    position: relative;
    width: 200px;
    height: 40px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0;
    border: 1px rgba(255,255,255,0.3) solid;
    text-transform: uppercase;
    font-family: SanFrancisco-Regular;
}

.hideme
{
    opacity:0;
}

#info404{
    padding: 30px;
    text-align: center;
    color: rgb(133,133,133);
}

#info404 span{
    font-size: 100px;
}

#info404 a, #info404 a:hover{
    color: rgb(133,133,133);
}

.infoText{
    margin-left: 2%;
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(133,133,133);
    border-image:
            linear-gradient(to left, rgba(0,0,0,0.05) 1%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.05) 100%) 100% 0 100% 0/0 0 1px 0 stretch;
}

.infoText h1, .infoText h3{
    margin: 0;
    padding: 0;
}

